Repository semaphore-protocol/boilerplate, pull requests merged in 2023-01, with the labels that each got.

#18 Chore/semaphore v3
  .env.example
  .eslintrc.json
  README.md
  apps/contracts/contracts/Feedback.sol
  apps/contracts/package.json
  apps/contracts/tasks/deploy.ts
  apps/contracts/test/Feedback.ts
  apps/subgraph/contract-artifacts/Feedback.json
  apps/subgraph/src/mapping.ts
  apps/subgraph/subgraph.yaml
  apps/web-app/contract-artifacts/Feedback.json
  apps/web-app/package.json
  apps/web-app/src/pages/proofs.tsx
  package.json
  scripts/copy-contract-artifacts.ts
  tsconfig.json
  yarn.lock
Labels: dependencies :package:

#19 New Semaphore proof lib
  apps/contracts/package.json
  apps/contracts/test/Feedback.ts
  apps/web-app/package.json
  apps/web-app/src/pages/api/feedback.ts
  apps/web-app/src/pages/proofs.tsx
  yarn.lock
Labels: dependencies :package:

#20 Rename the group Greeter -> Feedback
  apps/web-app/src/pages/groups.tsx
Labels: refactoring :recycle:

#21 Add TypeScript suppress error comment
  apps/contracts/test/Feedback.ts
Labels: bug 🐛

#22 Update semaphore dependencies
  apps/contracts/package.json
  apps/web-app/package.json
  yarn.lock
Labels: dependencies :package:
